<div>
  <img class="home" src="assets/images/home.png" routerLink="/">
  <img class="brand" src="assets/images/bg.jpg">
  <h1 class="centered">Library Management System</h1>
  <button class="top-right" mat-raised-button color="primary" routerLink="/book-shelf">Book Shelf</button> &nbsp;
  <button class="top-right-contact" mat-raised-button color="accent" routerLink="/contact">Contact Us</button>
  <br>
  <mat-card class="mat-menu">
    <mat-card-header>
      <div mat-card-avatar class="cover-image"></div>
      <mat-card-title>Software Developers Guide</mat-card-title>
      <mat-card-subtitle>by John</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        A book is a medium for recording information in the form of writing or images,
        typically composed of many pages bound together and protected by a cover.
      </p>
    </mat-card-content>
  </mat-card>


  <br>
</div>